html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: calc(900rem / 16);
    margin: 0 auto;
    padding-top: 20px;
}

.module-task {
    padding-top: 5px;
    border-top: 3px solid #232323;
}

.section-heading {
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid #232323;
}

.site-heading {
    text-align: center;
    margin-bottom: 20px;
}

.article-heading {
    border-bottom: 2px solid #232323;
}

.news-list {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}

.news-list__item {
    border-top: 1px solid #232323;
    flex-basis: 410px;
    box-shadow: 5px 5px 6px 0px rgba(222, 218, 222, 0.82);
    transition: transform 0.2s linear;
    padding: 20px;
}

.news-list__item:hover {
    transform: scale(1.05);
}

.news-list__item-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.news-list__item-description {
    margin-bottom: 10px;
}

.news-list__item-img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-list__item-link {
    margin: auto;
    display: block;
    text-align: center;
    background-color: #f0baba;
    max-width: 250px;
    padding: 5px;
    border-radius: 5px;
}



.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navigation-list__item {
    flex-basis: 120px;
    border: 1px solid #256486;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.navigation-list__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

.navigation-list__item__current {
    background-color: #b0ffb7;
    transform: scale(1.15);
    transition: transform 300ms linear;
}